/* RESET BÁSICO */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: #f2f2f2;
}

/* APP MOBILE */
.app {
    padding: 16px;
    max-width: 480px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 12px;
}
.logoApp {
    width: 58mm;/*30mm-Original*/
    margin-bottom: 4mm;/*6mm-Original*/
}

/* TEXTAREA */
textarea {
    width: 100%;
    height: 180px;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    font-family: Courier, monospace;
}

/* BOTÃO */
button {
    width: 100%;
    margin-top: 12px;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

/* FEEDBACK DE TOQUE */
button:active {
    transform: scale(0.98);
}

/* ÁREA DE IMPRESSÃO */
#print-area {
    width: 58mm;
    padding: 4mm;/*4mm*/
    display: none;
    text-align: center;
   font-family: Courier, monospace;
}

.logo {
    width: 44mm;/*30mm-Original*/
    /*margin-bottom: 2mm;/*6mm-Original*/
}

.status {
    font-weight: bold;
    font-size: 14px;/*11px*/
    /*margin-bottom: 1.5mm; /*2mm/4mm-Original/*/
}

.linha {
    border-top: 1px dashed black;
    margin: 1mm 0;      /*2mm/3mm/ antes: 4mm */
}

.normal {
    font-size: 12px;/*10px*/
    letter-spacing: -1px; /* Diminui o espaçamento em 1px */
    /*margin: 0.5mm 0;   /*1mm/1.5mm/ antes: 3mm */
}

.valor {
    font-size: 25px;   /* 15px levemente menor */
    font-weight: bold;
    letter-spacing: -1px; /* Diminui o espaçamento em 1px */
    /*margin: 0.25mm 0;     /*1mm/1.5mm/3mm/ antes: 6mm */
}

.rodape {
    font-size: 12px;/*9px*/
    letter-spacing: -1px; /* Diminui o espaçamento em 1px */
   /* margin-top: 2mm;/*4mm*/
   margin-bottom: 2mm;
}

/* IMPRESSÃO */
@media print {
    body {
        background: white;
    }

    .app {
        display: none;
    }

    #print-area {
        display: block;
    }

    @page {
        size: 58mm auto;
        margin: 0;
    }
}